header {
    padding: 20px;
    font-family:'Times New Roman', Times, serif;
    background-color: rgb(45, 45, 179);
    color: black;
}

h2{
    display:inline;
    font-size: 20px;
    float:right;
}


